@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* var */

:root {
    --BACKGROUND-COLOR: #ecf0f3;
}

body {
    width: 100%;
    height: 100vh;
    padding-top: 65px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* nav bar */

nav {
    width: 100%;
    height: 65px;
    padding: 10px 0;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .2);
    z-index: 1;
    background-color: var(--BACKGROUND-COLOR);
}


/* disable navbar in js */

.disable {
    width: 100%;
    height: 65px;
    padding: 10px 0;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--BACKGROUND-COLOR);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .2);
    z-index: 1;
}

nav .navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}


/* left-navbar */

.navbar .left-navbar {
    font-family: 'Dancing Script', cursive;
}


/* left navbar logo */

.navbar .left-navbar .logo {
    font-size: 1.9rem;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar .left-navbar .logo-name {
    font-size: 1rem;
    font-style: inherit;
}


/* right navbar */

.navbar .right-navbar a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 1rem;
}

.navbar .right-navbar a:hover {
    transform: translateX(2px);
    transition: all .2s;
    color: #dd783f;
}


/* container */

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--BACKGROUND-COLOR);
}


/* hero container */

.container .hero-container {
    width: 100%;
    height: 80vh;
    background: url("https://uploads-ssl.webflow.com/63658007212f3a43fcd284ef/63658008212f3acf6ed28529_photo-1439189741837-58720e8d82d5.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* hero content */

.hero-content {
    padding: 60px;
    color: black;
    background-color: var(--BACKGROUND-COLOR);
    border: none;
    border-radius: 10px;
    box-shadow: inset 5px 5px 4px 1px rgba(0, 0, 0, .2);
}

.hero-content h2 {
    font-size: 2rem;
    font-weight: 500;
}

.hero-content p {
    font-size: 1.3rem;
}

.hero-content button {
    padding: 7px 20px;
    margin-top: 10px;
    color: white;
    background-color: #dd783f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-content button:hover {
    box-shadow: -2px 2px 1px 1px rgba(0, 0, 0, .4);
    transform: translateX(2px);
}


/* sections */

.sections {
    width: 100%;
    height: 65px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* change position of sections using js */

.active {
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 65px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--BACKGROUND-COLOR);
}

.sections a {
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: all .3s;
}

.sections a:hover {
    transition: all .3s;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .3);
}


/* featured */

.featured-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding-top: 200px;
    background-color: var(--BACKGROUND-COLOR);
}

.featured-container h2 {
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.line {
    width: 90px;
    border-top: 1px solid black;
}

.featured-img-container {
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.featured-img-container .featured-img {
    position: relative;
    overflow: hidden;
    height: 350px;
    border-radius: 10px;
    transition: all .5s;
}

.featured-img-container .featured-img .topic {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 7px 12px;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, .3);
    background-color: #dd783f;
}

.featured-img-container .featured-img img {
    height: 350px;
    border-radius: 10px;
}


/* overlay transition */

.featured-img-container .featured-img .img-text {
    position: absolute;
    top: 100%;
    color: black;
    padding: 20px;
    background-color: var(--BACKGROUND-COLOR);
    opacity: .8;
    border: none;
    border-radius: 10px;
    transition: all .5s;
    top: 100%;
    left: 50px;
    right: 50px;
}

.featured-img-container .featured-img .img-text h2 {
    margin-bottom: 5px;
}

.featured-img-container .featured-img:hover {
    transform: translateY(-10px);
    transition: all .5s;
    box-shadow: -5px 3px 2px 1px rgba(0, 0, 0, .3);
}

.featured-img-container .featured-img:hover .img-text {
    top: 100px;
    left: 50px;
    right: 50px;
    transition: all .5s;
}


/* most recent  design*/

.recent-container {
    margin-top: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recent-container h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.recent-img-container {
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 23px;
    gap: 60px;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    height: 450px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, .3);
}

.recent-img-container .recent-img {
    transition: all 2s;
    position: relative;
    height: 400px;
    width: 400px;
    border: none;
    border-radius: 10px;
    transform: translateY(-3px);
    box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, .5);
}

.recent-img-container .recent-img img {
    height: 400px;
    width: 350px;
    border-radius: 10px;
}

.recent-img-container .btn {
    position: absolute;
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    opacity: .6;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--BACKGROUND-COLOR);
}

.recent-img-container .btn:hover {
    opacity: 1;
}

.recent-img-container .prev {
    left: 2px;
}

.recent-img-container .next {
    right: 2px;
}

.recent-topic {
    position: absolute;
    top: -50px;
    left: 10px;
    padding: 5px 10px;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, .3);
    background-color: #dd783f;
}


/* overlay text design */

.recent-img-text {
    position: absolute;
    column-rule-color: black;
    background-color: var(--BACKGROUND-COLOR);
    opacity: .8;
    border: none;
    border-radius: 10px;
    padding: 20px;
    top: 103%;
    left: 15px;
    right: 15px;
    transition: all 1s;
}


/* overlay text transition */

.recent-img:hover .recent-img-text {
    transition: all .8s;
    top: 100px;
}


/* footer */

footer {
    width: 100%;
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: url("https://uploads-ssl.webflow.com/63658007212f3a43fcd284ef/63658008212f3a77c3d28567_footer-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

footer h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 90px;
    color: white;
    font-family: 'Dancing Script', cursive;
}

footer .bot-line {
    width: 200px;
    border-top: 1px solid white;
    margin-bottom: 20px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    height: 40px;
    width: 300px;
    padding-left: 10px;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
}

.submit {
    cursor: pointer;
    height: 40px;
    padding: 0 20px;
    color: white;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(167, 167, 167);
}

.submit:hover {
    transition: all .3s;
    background-color: #dd783f;
}

.footer-bar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 83%;
    display: flex;
    background-color: transparent;
    justify-content: center;
    box-shadow: 1px -2px 4px rgba(0, 0, 0, .3);
}

.footer-bar a {
    text-decoration: none;
    margin-left: 10px;
    color: white;
}

.footer-bar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-footer-bar {
    font-family: 'Dancing Script', cursive;
}

.left-footer-bar .logo {
    font-size: 1.9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.left-footer-bar .logo-name {
    font-size: 1rem;
    font-style: inherit;
    color: white;
}